.link {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    padding: 12px;
    color:  black;
}

.activeLink {
color: red;
}
ul{
    /*padding-right: 80%;*/
    margin-top: 0px;
}